  
  /*--------------------------------------------------------------
  2.0 - SEARCH FORM
  --------------------------------------------------------------*/
.searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 1rem;
  margin: 1rem;
  width:inherit;
  box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
}


.searchform input {
  background:#fefefe;
  border: none;
  margin-right: 5px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
}

.textBar {
  width: 88%;
}

.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0d76be inset;
}

.pink {
  color: #EF8D9C;
}

.searchBarButton {
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding-top: 5px;
  cursor: pointer;
}

.searchform input::-webkit-input-placeholder {
font-style: italic;
line-height: 15px
}

.searchform input:-moz-placeholder {
font-style: italic;
line-height: 15px
}

.flex-container {
  flex-direction: column;
  align-items: center;
}

.flex-item {
  padding: 10px 0;
}

.first-item {
  padding-top: 20px;
}

.sastojciKategorijeParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sastojciKategorijeChild, .sastojciKategorijeChild input {
  width: calc(20% - 10px);
  box-sizing: border-box;
}

.searchOpcija {
  font-weight: bold;
  font-size: 20px;
  color: #EF8D9C;
}

.space-right {
  margin-right: 100px;
}