/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
    box-sizing:border-box;
  }
  
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }
  .cf:after {
      clear:both;
  }
  
  body {
    background: #EF8D9C;
    color: #fff;
  }
  a,a:visited {
    color:#fff
  }
  
  /*--------------------------------------------------------------
  2.0 - SEARCH FORM
  --------------------------------------------------------------*/
.searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 1rem;
  margin: 1rem;
  width:inherit;
  box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
}

.searchform input, .searchform button {
    float: left
}
.searchform input {
    background:#fefefe;
    border: none;
    margin-right: 5px;
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
}

.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0d76be inset;
}

.pink {
  color: #EF8D9C;
}

.searchBarButton {
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding-top: 5px;
  cursor: pointer;
}

.searchform input::-webkit-input-placeholder {
font-style: italic;
line-height: 15px
}

.searchform input:-moz-placeholder {
font-style: italic;
line-height: 15px
}


// Advanced search icon transition
.nc-int-icon-rotate {
  --animation-duration:0.4s;
}

.nc-int-icon {
  position:relative;
}

#arrow-up {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  opacity: 0;
}

#arrow-down, #arrow-up {
  transition: opacity 0s calc(var(--animation-duration)/2), transform var(--animation-duration); 
  transform-origin: center center;
}

#arrow-up {
  transform: rotate(90deg) scale(0.6);
}

#arrow-down {
  opacity: 0;
}

#arrow-up {
  opacity: 1;
}

#arrow-down {
  transform: rotate(-90deg) scale(0.6);
}

#arrow-up {
  transform: rotate(0);
}