.main-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: auto;
  min-height: 100vh;
  background-color: hsl(30, 54%, 90%);
  padding-top: 5%;
  padding-bottom: 5%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  border-radius: 20px;
  padding: 2%;
  background-color: hsl(0, 0%, 100%);
}

.natrag {
  margin-right: 300px;
}

.block {
  display: block;
  margin: 20px 0px 10px 0px;
}

.main-img {
  max-width: 100%;
  overflow: hidden;
}

.main-img img {
  width: 100%;
  max-height: auto;
  border-radius: 20px;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  color: hsl(14, 45%, 36%);
}
.preparation {
  width: 100%;
  max-height: auto;
  background-color: hsl(332 51% 32% / 5%);
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

.preparation ul {
  padding-left: 5%;
}
.ingredients {
  width: 100%;
  max-height: auto;
}

.time li {
  padding-bottom: 5px;
}

li span {
  position: relative;
  left: 1%;
}

.steps, .items {
  line-height: 2;
}

.items {
  padding-left: 2.5%;
}

h3 {
  font-size: 1.5;
  color: hsl(332, 51%, 32%);
}
hr {
  opacity: 50%;
}
.instruction {
  width: 100%;
  max-height: auto;
}

.instruction li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}

.nutrition {
  width: 100%;
  max-height: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.nutrients {
  padding-left: 2.5%;
}


.backButton {
  position: absolute;
  top: 50px;
  left: 70px;
}


@media only screen and (max-width: 475px) {
  .container {
    width: 80%;
    overflow: auto;
  }

  ul {
    padding: 10%;
  }

  .preparation li,
  .ingredients li {
    margin-left: 5%;
  }
}
