
<div class="main-container">
    <div class="container">
        <div class="main-img">
        <img [src]="'http://localhost:3000/images/download/' + recept.Slika">
        </div>
        <div>
        <h1>{{recept.Naziv}}</h1>
        </div>
        <div class="preparation">
        <ul class="time">
            <li><span><strong>Vrsta:  </strong>{{recept.Vrsta}}</span></li>
            <li><span><strong>Vrijeme pripreme:  </strong>{{recept.Vrijeme}} min</span></li>
            <li><span><strong>Broj porcija:  </strong></span>
            <ng-container *ngFor="let _ of [].constructor(recept.ZaOsoba)">👤</ng-container>
            </li>
            <li><span><strong>Ocjena:   </strong></span> 
            <ng-container *ngFor="let _ of [].constructor(recept.Ocjena)">★</ng-container>
            <ng-container *ngFor="let _ of [].constructor(5-recept.Ocjena)">☆</ng-container>
            </li>
        </ul>
        </div>
        <div class="ingredients">
        <h2>Sastojci</h2>
        <ul class="items">
            <li *ngFor="let sastojak of recept.Sastojci"><span>{{sastojak}}</span></li>
        </ul>
        <hr />
        </div>

        <div class="instruction">
        <h2>Upute</h2>
        <p class="steps">{{recept.Upute}}</p>
        <hr />
        </div>

        <div *ngIf="recept.Savjet" class="nutrition">
        <h2>Savjet</h2>
        <p class="steps">{{recept.Savjet}}</p>
        </div>
        <div class="block">
            <app-button class="natrag" (onClick)="navigateBack()" label="Natrag"></app-button>
            <app-button (onClick)="editRecept(recept)" label="Izmijeni"></app-button>
        </div>
    </div>
</div>