<h1 class="naslov">Recepti</h1>

<a routerLink="/create">Kreiraj novi recept!</a>

<div class="main">
    <app-search-bar></app-search-bar>
    <ul class="cards">
      <li *ngFor="let recept of recepti" class="cards_item">
        <div class="card">
          <div class="card_image"><img [src]="'/assets/images/' + recept.Slika"></div>
          <div class="card_content">
            <h2 class="card_title">{{recept.Naziv}}</h2>
            <p class="card_text">{{recept.Vrijeme}} min | 
                <ng-container *ngFor="let _ of [].constructor(recept.Ocjena)">★</ng-container>
                <ng-container *ngFor="let _ of [].constructor(5-recept.Ocjena)">☆</ng-container>
            </p>
            <button class="btn card_btn" (click)="openRecept(recept)">Pročitaj recept</button>
          </div>
        </div>
      </li>
    </ul>
  </div>